.top-header{
width:100%;
min-height:90px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 80px;
background:#fff;
border-bottom:1px solid #eee;
}

.logo h2{
font-size:34px;
font-weight:700;
color:#7CB342;
letter-spacing: 1px;
}

.social-icons{
display:flex;
gap:15px;
font-size:18px;
color:#666;
cursor:pointer;
}

.social-icons svg:hover{
color:#7CB342;
transition:.3s;
}

.contact-box{
display:flex;
gap:40px;
}

.contact-item{
display:flex;
align-items:center;
gap:15px;
}

.icon{
font-size:28px;
color:#7CB342;
}

.contact-item p{
font-size:13px;
color:#888;
}

.contact-item h4{
font-size:15px;
color:#222;
margin-top:3px;
}

/* Tablet */
@media (max-width: 992px) {
  .top-header {
    padding: 15px 30px;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
  }

  .contact-box {
    gap: 20px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .top-header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    display: none;
  }

  .social-icons {
    order: 3;
    margin-top: 10px;
  }

  .contact-box {
    flex-direction: column;
    gap: 15px;
  }

  .contact-item {
    justify-content: center;
  }

  .logo h2 {
    font-size: 28px;
  }
}